body{

    margin: 0;


}

.font-secondary{
    
    
    font-family: 'Nova Square', sans-serif;

    font-size:larger;

    width: auto;
    
    
}



.immagine{

    width: 120px;

    height: 80px;


}

.navbar-bar{
width: 100%;




}

.bg-header{

    height: 100vh;

    background: linear-gradient(rgb(255,255,255),rgba(255,255,255,0)), url(./switzerland-862870_1920.jpg) ;

    margin-bottom: 500px;

    z-index: -1;

    
    

}

.titolo-head{

    list-style-type:none;


}



.mountain-img{


background: linear-gradient(rgb(255,255,255),rgba(255,255,255,0)),url(mountains2.png);




 
}

.testo-lorem{


    margin-top: 200px;

 

}

.img-wt{
background: fixed;
max-width: max-content;
margin-top: 200px;
margin-right: 2000px;
padding: 0%;



}